
      <form method='post'>
        <div class="d-flex justify-content-around bg-light">
          <article>
                <div class="form-group">
                  <label class="form-label" for="input-example-1">标题</label>
                  <input class="form-input" type="text" id="input-example-1" placeholder="标题" style="width:300px;" value="{{ todo.title }}" name="title">
                </div>

               
              <div class="form-group">
                <label class="form-label" for="input-example-1">作者</label>
                <input class="form-input" type="text" id="input-example-1" placeholder="作者" style="width:300px;" value="{{ todo.biaoqian }}" name="biaoqian">
              </div>

              
              <div class="form-group">
                <label class="form-label" for="input-example-3">简介</label>
                <textarea class="form-input" placeholder="简介" rows="3" id="zhaiyaoTextarea" name="zhaiyao">{{todo.zhaiyao}}</textarea>
              </div>

              <div class="form-group">
                <label class="form-label" for="input-example-3">文本内容</label>
                <textarea class="form-input" placeholder="简介" rows="3" id="mytextarea" name="text">{{todo.text | safe }}</textarea>
              </div>

              <div class="form-group-lg my-3">
                <label class="form-label">图片</label>
                <div class="border rounded text-center upload">
                  <div class="upload-preview m-5">
                    {% if todo.cover%}
                    <img src="/public/admin/upload/{{ todo.cover }} class="img-fluid">
                    {% endif %}
                  </div>
                  <input type="file" name="upload" class="d-none upload-file">
                  <input type="hidden" name="cover" value="{{ todo.cover }}">
                  <a href="#" class="d-block upload-trigger text-decoration-none mb-5">
                    <i class="bi bi-cloud"></i>
                    <span>点击选择需要上传的图片</span>
                  </a>
                </div>
                <div class="form-text">仅限上传2M以下图片</div>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit" onclick = "return save()" onclick="myFunction()">保存</button>
              </div>
            </article>
        </div>
      </form>
    <style>
      img{
        height:10rem;
        width:15rem;
      }
      button{
        margin:1.5rem;
      }
    </style>


    {% block script%}
         <script src="/public/js/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                  selector:'#mytextarea',
                  language:'zh_CN',
                  menubar :false,
                  height  :530,
                  width:650,
                  branding:false,
                  document_base_url: window.location.protocol + '//' + window.location.host + '/',
                  plugins :'image lists link charmap table image codesample code',
                  toolbar :'styleselect bold aligncenter blockquote subscript superscript bullist numlist link unlink removeformat charmap table uploadimage codesample code',
                  style_formats:[
                      {title:'大标题',format:'h2'},
                      {title:'小标题',format:'h3'},
                      {title:'段落',format:'p'},
                      {title:'代码',format:'code'}
                  ],
                  setup: function(editor){
                      editor.ui.registry.addButton('uploadimage',{
                          tooltip:'上传图片',
                          icon:'image',
                          onAction:function(){
                              let Cookie    = {};
                              document.cookie.split('; ').forEach((item) => {
                              Cookie[item.split('=')[0]] = item.split('=')[1];
                              });
                              var input       = document.createElement('input');
                              input.setAttribute('type','file');
                              input.onchange  = function(e){
                                  var formData    = new FormData();
                                  formData.append('upload', this.files[0]);
                                  var xhr     = new XMLHttpRequest();
                                  xhr.open('POST', '/upload');
                                  xhr.setRequestHeader('x-csrf-token',Cookie.csrfToken);
                                  xhr.addEventListener('load',() => {
                                      if(xhr.readyState === 4 && xhr.status === 200){
                                          let result  = JSON.parse(xhr.responseText);
                                          console.log(result);
                                          if(result.state){
                                              let img = '<img src="/public/admin/upload/' + result.filename + '">';
                                              console.log(img);
                                              editor.insertContent(img);
                                          } else {
                                              for(i in result.errors){
                                                  editor.notificationManager.open({
                                                      text: result.errors[i],
                                                      type: 'error'
                                                  });
                                              }
                                          }
                                      }
                                  });
                                  xhr.send(formData);
                              }
                              input.click();
                          }
                      })
                  }
              });
            
        </script>
        <script>
            function myFunction(){
                    alert('添加成功');
                }
        </script>
        
        <script>
          let Cookie={};
          document.cookie.split('; ').forEach((item)=>{
            let temp=item.split('=');
            Cookie[temp[0]]=temp[1];
          });



          var upload=document.querySelector('.upload');
          var cover=upload.querySelector('input[name=cover]');
          var uploadFile=upload.querySelector('.upload-file');
          var uploadPreview=upload.querySelector('.upload-preview');
          var uploadTrigger=upload.querySelector('.upload-trigger');
          uploadFile.addEventListener("change",(e)=>{
            var formData=new FormData();
            formData.append('upload',uploadFile.files[0]);
            var xhr=new XMLHttpRequest();
            xhr.open('POST','/upload');
            xhr.setRequestHeader('x-csrf-token',Cookie.csrfToken);
            xhr.addEventListener('load',()=>{
              if(xhr.readyState===4 && xhr.status===200){
                let result =JSON.parse(xhr.responseText);
                cover.setAttribute('value',result.filename);
                let image=uploadPreview.querySelector('img');
                if(image){
                  image.remove();
                }              
                image=document.createElement('img');
                image.classList.add['img-fluid'];
                image.setAttribute('src','/public/admin/upload/'+result.filename);
                uploadPreview.append(image);
                }
            });
            xhr.send(formData);
          });
          uploadTrigger.addEventListener("click",(e)=>{
            e.preventDefault();
            uploadFile.click();
          });
        </script>
        {% endblock%}

