{# <form method="post">
    <p>用户名:</p>
    <input type="text" name="username" value="{{ todo.username }}">
    <p>密码:</p>
    <input type="text" name="password" value="{{ todo.password }}">
    <p></p>
    <button type="submit" onclick="myFunction()">保存</button>
</form>
<style>
    button{
        color:blue;
        height:2.5rem;
        width:10.5rem;
        }
    input{
        height:2.5rem;
        width:10.5rem;
    }

</style>
<script>
    function myFunction(){
            alert('注册成功！请回到登录页面登录。');
        }
</script> #}
<form method="post">
    <div class="container bg-white my-5 p-5">
        <div class="col-sm-4 my-2 mx-auto">
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">用户名：</label> 
                <input type="text" class="form-control" trxtarea name="username" value="{{ todo.username }}">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">密码：</label> 
                <input type="text" class="form-control" trxtarea name="password" value="{{ todo.password }}">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit" onclick="myFunction()">保存</button>
            </div>
        </div>
    </div>
</form>
{# <style>
    button{
        color:blue;
        height:2.5rem;
        width:10.5rem;
        }
    input{
        height:2.5rem;
        width:10.5rem;
    }

</style> #}
<script>
    function myFunction(){
            alert('添加成功！');
        }
</script>

