
{% extends "backstage.html"%}
{% block main%}
<table>
    <tr>
        <th>ID</th>
        <td>{{ todo.id }}</td>
    </tr>
    <tr>
        <th>用户姓名</th>
        <td>{{ todo.username }}</td>
    </tr>
    <tr>
        <th>密码</th>
        <td>{{ todo.password }}</td>
    </tr>

</table>
<style>
    table{
        background-color:#eee;
        border:1px solid;
        height:10rem;
        width:20rem;
        margin:10rem 40rem;
        text-align:center;
        }
    table tr th,
    table tr td{
    border:1px solid;
        }
</style>
{% endblock %}