{% extends"backstage.html"%}
{% block main%}
<table class="table">
    <tbody>
        <thead>
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>密码</td>
                <td>设置</td>
            </tr>
        </thead>
        {% for todo in todoes %}
            <tr class="information">
                <td>{{ todo.id }}</td>
                <td>{{ todo.username }}</td>
                <td>{{ todo.password }}</td>
                <td>
                    <a href="/edit/{{ todo.id }}">编辑</a>
                    <a href="/delete?id={{ todo.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div id="pagination" class="pagination" style="margin:0;"></div>

<style>
    .information:nth-child(n){
        background-color:#eee;
    }
    .information:nth-child(2n){
        background-color:#ccc;
    }
</style>
{% endblock %}