{% extends "purebackstage.html" %}

{% block main%}
<div class="row">
{% for todo in categorys%}
    <div class="col-sm-3 my-2">
        <div class="card">
            <div class="card-image">
                <sl-drawer label="文章图像" class="drawer-custom-size" style="--size: 50vw;">
                    <!-- This drawer is always 50% of the viewport. -->
                    <img src="/public/admin/upload/{{ todo.cover }}" class="img-responsive" style="margin: auto; height: auto; width: auto;">
                <sl-button slot="footer" type="primary">关闭</sl-button>
                </sl-drawer>
                <a><img src="/public/admin/upload/{{ todo.cover }}" class="img-responsive" style="margin: auto;"></a>
            </div>
            <div class="card-header">
            <div class="card-title h5">{{ todo.title }}</div>
            <div class="card-subtitle text-gray">{{ todo.biaoqian }}
                <div style="float:right;">
                    <!-- <sl-rating max="3"></sl-rating> -->
                    <sl-rating max="3" class="rating-hearts" style="--symbol-color-active: #ff4136;"></sl-rating>
                </div>
            </div>
            </div>
            <div class="card-body">
                <a href="/article/{{ todo.id }}" style="color:black; text-decoration: none;">{{ todo.zhaiyao | safe }}</a>
            </div>
            
            <div class="card-footer">
            <!-- <button class="btn btn-primary">...</button> -->
            <a href="/editcontent/{{ todo.id }}" class="btn btn-sm btn-link">编辑</a>
            <a href="/deletecontent?id={{ todo.id }}" class="btn btn-sm btn-link">删除</a>
            </div>
        </div>
    </div>
{% endfor %}

<div>
    <ul class="pagination justify-content-center mt-5">
      {% if page === 1%}
      <li class="page-item disabled">
          <span class="page-link">首页</span>
      </li>
      <li class="page-item disabled">
          <span class="page-link">上一页</span>
      </li>
      {%else%}
      <li class="page-item">
          <a href="/search?page=1"class="page-link">首页</a>
      </li>
      <li class="page-item">
          <a href="/search?page={{ page - 1 }}"class="page-link">上一页</a>
      </li>
      {% endif %}
      {% if start > 1 %}
      <li class="page-item disabled">
          <span class="page-link"> &middot;&middot;&middot;</span>
      </li>
      {% endif %}
      {% for i in range(start,stop + 1) %}
          {% if page === i %}
          <li class="page-item active">
              <span class="page-link">{{ i }}</span>
          </li>
          {% else %}
          <li class="page-item">
              <a href="/search?page={{ i }}"class="page-link">{{ i }}</a>
          </li>
          {% endif %}
      {% endfor %}
      {% if stop < pages %}
      <li class="page-item disabled">
          <span class="page-link">&middot;&middot;&middot;</span>
      </li>
      {% endif %}
      {% if page === pages %}
      <li class="page-item disabled">
          <span class="page-link">下一页</span>
      </li>
      <li class="page-item disabled">
          <span class="page-link">末页</span>
      </li>
      {% else %}
      <li class="page-item">
          <a href="/search?page={{ page + 1 }}" class="page-link">下一页</a>
      </li>
      <li class="page-item">
          <a href="/search?page={{ pages }}" class="page-link">末页</a>
      </li>
      {% endif %}
      <li class="page-item disabled">
          <span class="page-link">{{ limit }}条/页</span>
      </li>
      <li class="page-item disabled">
          <span class="page-link">共{{ count }}条</span>
      </li>
  </ul>
</div>
</div>
<style>
    img{
        height:9rem;
        width:10rem
    }
</style>


{% endblock%}

{% block script %}
<script>
    const drawer = document.querySelector('.drawer-custom-size');
    const openButton = drawer.nextElementSibling;
    const closeButton = drawer.querySelector('sl-button[type="primary"]');
  
    openButton.addEventListener('click', () => drawer.show());
    closeButton.addEventListener('click', () => drawer.hide());
  </script>

<script>
    const rating = document.querySelectors('.rating-hearts');
    rating.getSymbol = () => '<sl-icon name="heart-fill"></sl-icon>'; 
  </script>
{% endblock %}