{% extends "backstage.html" %}

{% block table %}
<!-- <div class="card mb-5 wow fadeIn"> -->
<div class="card">
    <!-- <div class="col-md-5 mb-5" style="padding-left: 180px;"> -->
    <div class="card-body" style="width:600px; padding-left: 180px; margin-top: -60px;">
    <br>
    <br>
        <form action="/addAdmin" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1" style="font-size: 30px;">添加管理员</label></br>
                <label class="form-label" for="input-example-1">管理员姓名</label>
                <input class="form-input input-lg" type="text" id="input-example-1" placeholder="姓名" name="adminName">
                <label class="form-label" for="input-example-1">密码</label>
                <input class="form-input input-lg" type="password" placeholder="密码" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" name="adminPassword">
                <small id="emailHelp" class="form-text text-muted" style="font-size: 16px;">请以大写和小写字母开头，密码长度不少于8位.</small>
                <label class="form-label" for="input-example-1">日期</label>
                <input class="form-input input-lg" type="date" id="input-example-14" placeholder="日期" value="2018-11-15" name="submission_date">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" style="margin-top:20px;">确定
            </button>
        </form>
    </div>

</div>

{% endblock %}