{% extends "backstage.html" %}

{% block table %}
        <ul class="tab tab-block">
            <li class="tab-item active">
            <a href="#">首页</a>
            </li>
            <li class="tab-item">
                <a href="/content">内容</a>
                </li>
            <li class="tab-item">
            <a href="/addcontent">添加文章</a>
            </li>
            <li class="tab-item">
            <a href="#">Connect</a>
            </li>
        </ul>
        <div class="main">
        <img src="../public/img/content.png"></img>
        </div>

{% endblock %}