{% extends "backstage.html" %}

{% block table %}
        <div class="card mb-5 wow fadeIn">
            <div class="col-md-5 mb-5" style="padding-left: 90px;">
            <br />
            <br />
                <form action="/usertable/deleteuser" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-size: 30px;">删除用户</br>
                        <hr>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="useremail">
                    <small id="emailHelp" class="form-text text-muted" style="font-size: 16px;">用户邮箱</small>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">确定
                </button>
                </form>
            </div>

        </div>


{% endblock %}