{% extends "backstage.html" %}

{% block style %}
  
{% endblock %}

{% block table %}

            <div class="card">
                
                <div class="card-body">
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#">首页</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/adduser">添加用户</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/usertable">用户数据</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">用户详情</a>
                      </li>
                  </ul>
                  <table class="table table-hover table-striped">
                    
                    <br />
                    <thead class="blue-grey lighten-4" style="text-align:center">
                      <tr >
                        <th>序号</th>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>性别</th>
                        <th>年龄</th>
                      </tr>
                    </thead>
                    <tbody style="text-align:center">
                      {% for item in sql %}
                      <tr>
                        <th scope="row">{{item.userid}}</th>
                        <td>{{item.useremail}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.age}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    
                  </table>
                               
                </div>
            </div>
           
         
{% endblock %}

{% block script %}

  

{% endblock %}