<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/spectre-exp.min.css">
    <link rel="stylesheet" href="../public/css/spectre-icons.min.css">
    <link rel="stylesheet" href="../public/css/spectre.min.css">
    <title>Document</title>
    <style>
        .main{
            float: auto;
            margin-left: 120px;
            position: relative;
            
        }
        h1{
            margin-top:20px;
            font-size:40px;
            margin-left: 130px;
            /* float: right; */
            position: relative;
        }
        a{
            margin: 20px auto auto 20px;
           
        }

    </style>
</head>
<body>
    <header class="navbar">
       
        <a href="/homedetail" class="btn btn-link">返回</a>
        <!-- <a href="#" class="btn btn-link">GitHub</a> -->
      </header>
    <h1>输入错误，请重新输入...</h1>
    <!-- <span><a href="#" class="btn btn-link">返回</a></span> -->
    <div class="main">
        <img src="../public/img/error.png"></img>
    </div>
</body>
</html>