<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../public/css/foodstyle.css"></link>
	<script>
		window.Papercups = {
		  config: {
			accountId: "4120babd-d351-4269-99d7-7fefb770b9df",
			title: "孙福祥泥沙服务集团",
			subtitle: "您可以咨询一切您有疑问的问题😊",
			primaryColor: "#9900ef",
			greeting: "您好，很高兴为您服务😊",
			awayMessage: "抱歉，客服有点忙！🐇",
			newMessagePlaceholder: "Start typing...",
			showAgentAvailability: false,
			agentAvailableText: "客服在线",
			agentUnavailableText: "客服在线",
			requireEmailUpfront: false,
			iconVariant: "outlined",
			baseUrl: "https://app.papercups.io",
			// Optionally include data about your customer here to identify them
			// customer: {
			//   name: __CUSTOMER__.name,
			//   email: __CUSTOMER__.email,
			//   external_id: __CUSTOMER__.id,
			//   metadata: {
			//     plan: "premium"
			//   }
			// }
		  },
		};
		</script>
		<script
		type="text/javascript"
		async
		defer
		src="https://app.papercups.io/widget.js"
		></script>
	
</head>
<body>
	<div class="container">
		<div class="navbar">
			<nav>
				<ul>
					<li><a href="/homedetail">主页</a></li>
					<li><a href="/">关于</a></li>
				</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col">
				<h1 class="font-weight-bold py-3">牧野一号</h1>
				<p>&nbsp;&nbsp;一次服务，永远安心</p>
			</div>
			<div class="col">
				<div class="card card1">
					<h5>报纸</h5>
					<p>米能养脾，麦能补心。</p>
				</div>
				<div class="card card2">
					<h5>新闻</h5>
					<p>新闻随时发生。</p>
				</div>
				<div class="card card3">
					<h5>书籍</h5>
					<p>书籍承载知识。</p>
				</div>
				<div class="card card4">
					<h5>媒体</h5>
					<p>信息多元，新鲜快速。</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>