<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../public/css/foodstyle.css"></link>
	<script>
        window.Papercups = {
          config: {
            // Pass in your Papercups account token here after signing up
            accountId: '21552fe2-1717-481e-b848-49c29f68bde4',
            title: '您好，牧野一号欢迎您',
            subtitle: '您可以询问一切您想了解的业务 😊',
            newMessagePlaceholder: '开始输入...',
            primaryColor: '#7556EB',
            // Optionally pass in a default greeting
            greeting: '您好，我是客服阿祥，很高兴为您服务！😊',
            // Optionally pass in metadata to identify the customer
            customer: {
              name: '客户',
              email: 'sun307157171@163.com',
              external_id: '123',
              metadata: {version: 1, plan: 'premium'}, // Custom fields go here
            },
            // Optionally specify the base URL
            baseUrl: 'https://app.papercups.io',
            // Add this if you want to require the customer to enter
            // their email before being able to send you a message
            requireEmailUpfront: true,
            // Add this if you want to indicate when you/your agents
            // are online or offline to your customers
            showAgentAvailability: true,
            agentAvailableText: "客服在线",
            persistOpenState: true,
          },
        };
      </script>
      <script
        type="text/javascript"
        async
        defer
        src="https://app.papercups.io/widget.js"
      ></script>
	
</head>
<body>
	<div class="container">
		<div class="navbar">
			<nav>
				<ul>
					<li><a href="/homedetail">主页</a></li>
					<li><a href="/">关于</a></li>
				</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col">
				<h1 class="font-weight-bold py-3">牧野一号</h1>
				<p>&nbsp;&nbsp;一次服务，永远安心</p>
			</div>
			<div class="col">
				<div class="card card1">
					<h5>报纸</h5>
					<p>米能养脾，麦能补心。</p>
				</div>
				<div class="card card2">
					<h5>新闻</h5>
					<p>新闻随时发生。</p>
				</div>
				<div class="card card3">
					<h5>书籍</h5>
					<p>书籍承载知识。</p>
				</div>
				<div class="card card4">
					<h5>媒体</h5>
					<p>信息多元，新鲜快速。</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>