<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../public/css/foodstyle.css"></link>
	
</head>
<body>
	<div class="container">
		<div class="navbar">
			<nav>
				<ul>
					<li><a href="/homedetail">主页</a></li>
					<li><a href="/">关于</a></li>
				</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col">
				<h1 class="font-weight-bold py-3">牧野一号</h1>
				<p>&nbsp;&nbsp;一次服务，永远安心</p>
			</div>
			<div class="col">
				<div class="card card1">
					<h5>报纸</h5>
					<p>米能养脾，麦能补心。</p>
				</div>
				<div class="card card2">
					<h5>新闻</h5>
					<p>新闻随时发生。</p>
				</div>
				<div class="card card3">
					<h5>书籍</h5>
					<p>书籍承载知识。</p>
				</div>
				<div class="card card4">
					<h5>媒体</h5>
					<p>信息多元，新鲜快速。</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>