<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/loginstyle.css">
    <script>
        window.Papercups = {
          config: {
            accountId: "4120babd-d351-4269-99d7-7fefb770b9df",
            title: "孙福祥泥沙服务集团",
            subtitle: "您可以咨询一切您有疑问的问题😊",
            primaryColor: "#9900ef",
            greeting: "您好，很高兴为您服务😊",
            awayMessage: "抱歉，客服有点忙！🐇",
            newMessagePlaceholder: "Start typing...",
            showAgentAvailability: false,
            agentAvailableText: "客服在线",
            agentUnavailableText: "客服在线",
            requireEmailUpfront: false,
            iconVariant: "outlined",
            baseUrl: "https://app.papercups.io",
            // Optionally include data about your customer here to identify them
            // customer: {
            //   name: __CUSTOMER__.name,
            //   email: __CUSTOMER__.email,
            //   external_id: __CUSTOMER__.id,
            //   metadata: {
            //     plan: "premium"
            //   }
            // }
          },
        };
        </script>
        <script
        type="text/javascript"
        async
        defer
        src="https://app.papercups.io/widget.js"
        ></script>
</head>
<body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="../public/img/papers.jpg" class="img-fluid" width="450px" height="600px">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <!-- <h1 class="font-weight-bold py-3">确认用户</h1> -->
                    <h2>确认用户</h2>
                    <br/>
                    <form action="/reset" method="POST">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" placeholder="邮箱" class="form-control my-3 p-4" name="useremail">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" placeholder="手机号码" class="form-control my-3 p-4" name="telephone">
                            </div>
                        </div>
                        <!-- <h3 style="color:white; font-weight: bold; background-color: black; border-radius: 30px;">{{sql}}</h3> -->
                        <div class="form-row">
                            <div class="col-lg-7">
                                <h2>{{sql}}</h2>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-5">确定</button>
                            </div>
                        </div>
                        <p>已有账户？<a href="/login">点击登录</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/bootstrap/bootstrap.min.js"></script>
</body>
</html>