{% extends "backstage.html" %}

{% block table %}

              <table class="charts-css column show-heading show-labels show-primary-axis show-3-secondary-axes data-spacing-20" style="width: 36rem; height:25rem; font-weight:bold">

                <caption style="font-size:40px; line-height: 7rem; --heading-size:10rem" > 男用户与女用户人数比例图 </caption>
              
                <tbody>

                     <tr>
                        <th scope="row"> 用户总数 </th>
                        <td style="--size: calc( {{count.count1 + count.count2}} / {{count.count1 + count.count2}});"> {{count.count1 + count.count2}}人</td>
                      </tr> 

                      <tr>
                        <th scope="row"> 男用户 </th>
                        <td style="--size: calc( {{count.count1}} / {{count.count1 + count.count2}});"> {{count.count1}}人</td>
                      </tr>
                       <tr>
                        <th scope="row"> 女用户 </th>
                        <td style="--size: calc( {{count.count2}} / {{count.count1 + count.count2}} )"> {{count.count2}}人 </td>
                      </tr>
                </tbody>
              
              </table>

{% endblock %}