<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/spectre-exp.min.css">
  <link rel="stylesheet" href="../public/css/spectre-icons.min.css">
  <link rel="stylesheet" href="../public/css/spectre.min.css">
  <link rel="stylesheet" href="../public/bootstrap/bootstrap.min.css">
  <title>Document</title>
  <style>
    body{
      background-color:#ecf0f1;
    }

    .main{
     
      width: 1200px;
      height: auto;
      margin: 60px auto;
      /* border:1px solid #000; */
      border-radius: 25px;
      background-color:#f1f2f6;
      box-shadow: 12px 12px 22px grey;
      padding-bottom: 20px;
    }

    .search{
      width: 600px;
      height: 400px;
      margin: 50px auto;
      margin-bottom: -210px;
    }

    .show{
      width:800px;
      margin: auto;
    }

    img{
      width: auto;
      height: 65px;
      margin-top: 20px;
      margin-left: 180px;
      margin-bottom:18px;
    }

    .button{
      margin-left: 30px;
      padding-top:20px;
      width: auto;
      height:auto;
      float: left;
    }

    .model{
      margin-left:38px;
    }

    .model a{
      color:#000;
      text-decoration:none;
      
    }
    a:active{
    color:#f9ca24;
    }

    a:hover{
    color:blueviolet;
    background:#f1f2f6;
}

    #cardimg{
        height:9rem;
        width:10rem
    }

  </style>
</head>
<body>
  <div class="main">

    

    <div class="button">
      <div class="accordion">
        <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
        <label class="accordion-header" for="accordion-1">
          <i class="icon icon-arrow-right mr-1"></i>
          搜索模式
        </label>
        <div class="accordion-body model">
          <!-- Accordions content -->
          <a href="/PagexiehouyuIndex"><p>歇后语</p></a>
          <a href="/PageciIndex"><p>词语</p></a>
          <a href="/PageidiomIndex"><p>成语</p></a>
          <a href="/PagewordIndex"><p>汉字</p></a>
          <a href="/PagecontentIndex"><p>内容</p></a>
          <a href="/introduce"><p>退出</p></a>
          
        </div>
      </div>
    </div>

      <div class="search">
        <form action="/Pagecontent" method="post">
        <img src="../public/img/MUYE.png">
        <div class="input-group">
          <input type="text" class="form-input input-lg" placeholder="搜索" name="search">
          <button class="btn btn-primary input-group-btn btn-lg btn-action"><i class="icon icon-search"></i></button>
        </div>
        </form>
      </div>
      <div class="container pt-4">
          <div class="row">
            {% for todo in categorys%}

            <div class="modal modal-lg" id="modal-id" style="margin: auto;">
              <a href="#close" class="modal-overlay" aria-label="Close"></a>
              <div class="modal-container">
                <div class="modal-header">
                  <!-- <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a> -->
                  <button class="btn btn-action  btn-link float-right" id="remove"><i class="icon icon-cross"></i></button>
                  <!-- <div class="modal-title h5">{{ todo.title }}</div> -->
                </div>
                <div class="modal-body">
                  <div class="content">
                    <div class="modal-title h4">&nbsp;{{ todo.title }}</div>
                    <!-- content here -->
                    {{todo.text | safe }}
                    <img src="/public/admin/upload/{{ todo.cover }}" class="img-responsive" style="height:12rem; width:18rem">
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <img src="/public/admin/upload/{{ todo.cover }}" class="img-responsive"> -->
                </div>
              </div>
            </div>

            <div class="col-sm-3 my-2" style="margin: auto;">
                <div class="card">
                  <div class="card-image">
                    <img src="/public/admin/upload/{{ todo.cover }}" class="img-responsive" style="margin: auto;">
                  </div>
                  <div class="card-header">
                    <div class="card-title h5">{{ todo.title }}</div>
                    <div class="card-subtitle text-gray">{{ todo.biaoqian }}</div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-link" id="delete" style="float:right;">详情</button>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>

      <div id="list">
          <ul class="pagination justify-content-center mt-5">
            {% if page === 1%}
            <li class="page-item disabled">
                <span class="page-link">首页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">上一页</span>
            </li>
            {%else%}
            <li class="page-item">
                <a href="/Pagecontent?page=1"class="page-link">首页</a>
            </li>
            <li class="page-item">
                <a href="/Pagecontent?page={{ page - 1 }}"class="page-link">上一页</a>
            </li>
            {% endif %}
            {% if start > 1 %}
            <li class="page-item disabled">
                <span class="page-link"> &middot;&middot;&middot;</span>
            </li>
            {% endif %}
            {% for i in range(start,stop + 1) %}
                {% if page === i %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="/Pagecontent?page={{ i }}"class="page-link">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if stop < pages %}
            <li class="page-item disabled">
                <span class="page-link">&middot;&middot;&middot;</span>
            </li>
            {% endif %}
            {% if page === pages %}
            <li class="page-item disabled">
                <span class="page-link">下一页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">末页</span>
            </li>
            {% else %}
            <li class="page-item">
                <a href="/Pagecontent?page={{ page + 1 }}" class="page-link">下一页</a>
            </li>
            <li class="page-item">
                <a href="/Pagecontent?page={{ pages }}" class="page-link">末页</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">{{ limit }}条/页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">共{{ count }}条</span>
            </li>
        </ul>
      </div>
        
  </div>
 

  <script>
    let value = document.getElementById('delete');
    let modal = document.getElementById('modal-id');
    let remove = document.getElementById('remove');
    let cancal = document.getElementById('cancal');
    value.addEventListener('click' ,() => {
        modal.classList.add('active');
    });
    remove.addEventListener('click', () => {
      modal.classList.remove('active');
    });
    cancal.addEventListener('click', () => {
      modal.classList.remove('active');
    });

  </script>

</body>
</html>