<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/spectre-exp.min.css">
  <link rel="stylesheet" href="../public/css/spectre-icons.min.css">
  <link rel="stylesheet" href="../public/css/spectre.min.css">
  <link rel="stylesheet" href="../public/bootstrap/bootstrap.min.css">
  <title>Document</title>
  <style>
    body{
      background-color:#ecf0f1;
    }

    .main{
     
      width: 1200px;
      height: auto;
      margin: 60px auto;
      /* border:1px solid #000; */
      border-radius: 25px;
      background-color:#f1f2f6;
      box-shadow: 12px 12px 22px grey;
      padding-bottom: 20px;
    }

    .search{
      width: 600px;
      height: 400px;
      margin: 50px auto;
      margin-bottom: -210px;
    }

    .show{
      width:800px;
      margin: auto;
    }

    img{
      width: auto;
      height: 65px;
      margin-top: 20px;
      margin-left: 180px;
      margin-bottom:18px;
    }


  </style>
</head>
<body>
  <div class="main">
      <div class="search">
        <form action="/Pagexiehouyu" method="get">
        <img src="../public/img/MUYE.png">
        <div class="input-group">
          <input type="text" class="form-input input-lg" placeholder="搜索" name="search">
          <button class="btn btn-primary input-group-btn btn-lg btn-action"><i class="icon icon-search"></i></button>
        </div>
        </form>

        

      </div>
      <div class="show">
        {% for todo in categorys%}
        <div>

            <p style="margin: 0; font-size: 1rem;" class="lang-zh-hans"><span style="font-weight: bold;">谜题：</span>{{todo.item.riddle}}</p> 
            <p style="margin: 0; font-size: 1rem;" class="lang-zh-hans"><span style="font-weight: bold;">谜底：</span>{{todo.item.answer}}</p> 
            <hr>  
        </div>
        {% endfor %}
      </div>

      <div id="list">
          <ul class="pagination justify-content-center mt-5">
            {% if page === 1%}
            <li class="page-item disabled">
                <span class="page-link">首页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">上一页</span>
            </li>
            {%else%}
            <li class="page-item">
                <a href="/Pagexiehouyu?search={{search}}&page=1"class="page-link">首页</a>
            </li>
            <li class="page-item">
                <a href="/Pagexiehouyu?search={{search}}&page={{ page - 1 }}"class="page-link">上一页</a>
            </li>
            {% endif %}
            {% if start > 1 %}
            <li class="page-item disabled">
                <span class="page-link"> &middot;&middot;&middot;</span>
            </li>
            {% endif %}
            {% for i in range(start,stop + 1) %}
                {% if page === i %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="/Pagexiehouyu?search={{search}}&page={{ i }}"class="page-link">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if stop < pages %}
            <li class="page-item disabled">
                <span class="page-link">&middot;&middot;&middot;</span>
            </li>
            {% endif %}
            {% if page === pages %}
            <li class="page-item disabled">
                <span class="page-link">下一页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">末页</span>
            </li>
            {% else %}
            <li class="page-item">
                <a href="/Pagexiehouyu?search={{search}}&page={{ page + 1 }}" class="page-link">下一页</a>
            </li>
            <li class="page-item">
                <a href="/Pagexiehouyu?search={{search}}&page={{ pages }}" class="page-link">末页</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">{{ limit }}条/页</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">共{{ count }}条</span>
            </li>
        </ul>
      </div>
        
  </div>
 



</body>
</html>