<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/seastyle.css">
    <title>主页</title>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">牧野一号</h2>
            <div class="toggle"></div>
        </header>
        <video src="../public/video/sea.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h3>一流技术，一流品质</h3>
            <h4><a href="/login">精益求精</a></h4>
        </div>

    </section>
</body>
</html>