<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/seastyle.css">
    <title>主页</title>
    <script>
      window.Papercups = {
        config: {
          accountId: "4120babd-d351-4269-99d7-7fefb770b9df",
          title: "孙福祥泥沙服务集团",
          subtitle: "您可以咨询一切您有疑问的问题😊",
          primaryColor: "#9900ef",
          greeting: "您好，很高兴为您服务😊",
          awayMessage: "抱歉，客服有点忙！🐇",
          newMessagePlaceholder: "Start typing...",
          showAgentAvailability: false,
          agentAvailableText: "客服在线",
          agentUnavailableText: "客服在线",
          requireEmailUpfront: false,
          iconVariant: "outlined",
          baseUrl: "https://app.papercups.io",
          // Optionally include data about your customer here to identify them
          // customer: {
          //   name: __CUSTOMER__.name,
          //   email: __CUSTOMER__.email,
          //   external_id: __CUSTOMER__.id,
          //   metadata: {
          //     plan: "premium"
          //   }
          // }
        },
      };
      </script>
      <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/widget.js"
      ></script>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">牧野一号</h2>
            <div class="toggle"></div>
        </header>
        <video src="../public/video/sea.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h3>一流技术，一流品质</h3>
            <h4><a href="/login">精益求精</a></h4>
        </div>

    </section>
</body>
</html>