{% extends "backstage.html" %}

{% block style %}
  
{% endblock %}

{% block table %}

            <div class="card">
                
                <div class="card-body">
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#">首页</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/adduser">添加用户</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#">用户数据</a>
                    </li>
                  </ul>
                  <table class="table table-hover table-striped">
                    
                    <br />
                    <thead class="blue-grey lighten-4" style="text-align:center">
                      <tr >
                        <th>序号</th>
                        <th>邮箱</th>
                        <th>电话</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody style="text-align:center">
                      {% for item in sql %}
                      <tr>
                        <th scope="row">{{item.userid}}</th>
                        <td>{{item.useremail}}</td>
                        <td>{{item.telephone}}</td>
                        
                        <td><a href="/editUser/{{item.userid}}" class="label label-secondary">编 辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <sl-dialog label="提示" class="dialog-no-overlay-dismiss">
                            <h5>您确认要删除该用户吗？</h5>
                            <sl-button size="small" slot="footer" type="warning" href="/usertable/deleteuser?id={{ item.userid }}">确认</sl-button>
                          </sl-dialog>
                          <a style="border: none" class="label label-error" data-toggle="modal" data-target="#modalLoginAvatarDemo" type="success" >删 除</a></td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                    
                  </table>
                               
                </div>
            </div>
           
         
{% endblock %}

{% block script %}

<script>
  const dialog = document.querySelector('.dialog-no-overlay-dismiss');
  const openButton = dialog.nextElementSibling;
  const closeButton = dialog.querySelector('sl-button[slot="footer"]');

  openButton.addEventListener('click', () => dialog.show());
  closeButton.addEventListener('click', () => dialog.hide());

  dialog.addEventListener('sl-overlay-dismiss', event => event.preventDefault());
</script>
  

{% endblock %}