@font-face{
    font-family:MasaFont-Regular;
    src:url(../font/MasaFont-Regular.ttf);
}


*{
	margin:0;
	padding:0;
}

body{
	overflow: hidden;
    background-size: cover;
}

.container{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/book.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.navbar{
	height:12%;
	display:flex;
	align-items:center;

}

nav{
	flex:1;
	text-align:right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 19px;
}

.raw{
	display: flex;
	height: 88%;
	align-items: center;
}

.col{
	margin-top: 20px;
	flex-basis: 50%;
}


h1{
	color: #fff;
	font-size: 60px;
	/* margin-top:-50px; */
	margin-bottom: 50px;
	font-family: MasaFont-Regular;
    font-size: 80px;
}

p{
	color: #fff;
	font-size: 20px;
	line-height: 15px;
}

.card{
	width:200px;
	height:230px;
	display:inline-block;
	border-radius: 10px;
	padding:15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin:120px 30px;	
	background-position: center;
	background-size: cover;
	transition: transform 0.4s;
}

.card1{
	background-image: url(../img/newspapers.jpg);
}

.card2{
	background-image: url(../img/twopapers.jpg);
}

.card3{
	background-image: url(../img/leaf.jpg);
}

.card4{
	background-image: url(../img/busreading.jpg);
	background-size: cover;
}

.card:hover{
	transform:translateY(-15px);
}

h5{
	color: #fff;
	text-shadow: 0 0 5px #999;
}

.card p{
	text-shadow: 0 0 15px #000;
	font-size: 8px;
}
